<mat-card class="medium-card">
  <mat-card-header>
    <mat-card-title>{{ enclosure.name }}</mat-card-title>
    <mat-card-subtitle>{{ enclosure.type }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-icon *ngFor="let o of count(enclosure.size); let i = index">
        <div style="color: #22cc33" *ngIf="i >= vacancy; else elseBlock">home</div>
        <ng-template #elseBlock><div style="color: #e91e63">home</div></ng-template>
      </mat-icon>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
