<h1 mat-dialog-title>Neuer Tierpfleger</h1>
<div mat-dialog-content>
  <div style="width: 45%; display: inline-block; vertical-align: top">
    <mat-form-field style="width: 90%">
      <input matInput [(ngModel)]="keeper.name" placeholder="Name" name="name" required>
    </mat-form-field>
    <br>
    <input type="file" (change)="imageChanged($event)" accept="image/*" name="image" required>
    <br>
  </div>
  <div style="width: 45%; display: inline-block">
    <i *ngIf="keeper.profileimg == null">No image choosed</i>
    <img id="preview" src="{{keeper.profileimg}}" width="100%">
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onSave()" tabindex="-1">Speichern</button>
  </div>
</div>
