/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0 !important;
}

.medium-card {
  width: 200px;
  margin: 10px;
  display: inline-block !important;
}

.big-card {
  width: 740px;
  margin: 10px;
  display: inline-block !important;
}

